
body{

	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: rgb(254, 160, 124);
	color :white;
	font-weight: 400;
	font-size: 16px;
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(to top, rgb(255, 100, 124) , rgb(254, 161, 125));
}
/* Top Header */
.header{
	top:0;
	left:20px;
	position: fixed;
	width: 100%;
	padding-top: 15px;
	margin-bottom: 0;
	padding-bottom: 0;
    /*transform: translate(-50%, 0);
    left: 50%;
    */
    z-index: 999;
}
.header h2{
	width: 100px;
	float:left;
	margin-bottom: 0;
	padding-top: 5px;
	margin: 0;
}


.search_bar{
	margin-left: 240px;	
	padding: 3px;
	position: fixed;
	width: 600px;
	float:left;
	font-size: 20px;
	
  	background: rgb(254, 175, 145); 
	border-radius : 20px;
	border: none;
	height: 35px;	
	padding-right:10px;
	padding-left:20px;
	display: flex;
	align-items: center;
}

.icon {
	opacity: 0.5;
	padding-left: 10px;
}
 
input{
	padding-left: 10px;
	background: transparent;
	width: 90%;
	
	border: none;
}


.header .user{
	
	float:right;
	width: 100px;

}


/* Main Container */
.container{
	width: 1600px;
	padding-left: 15px;
	padding-top: 100px;
	
}

/* Play card*/
.container h2{
	font-weight: 700;
	font-size: 30px;
	margin-top: 0;
	text-shadow: 0 2px 2px rgba(0,0,0,0.15);

}
.showcase_nav{
	width: 100%;
	position: relative;
}
.showcase_nav ul{
	list-style: none;
	
}

.showcase_nav ul li{
	display: inline-block;
}
.showcase_nav h1{
	font-size: 90px;
	font-weight: 900;
	margin:0;
	padding: 0;
}
.showcase_nav {}
.top_tracks .music_card{
	
}
.flowy{
	width: 1300px;
}
.slick-slide {
	width: 260px !important;
}
.card{
	width: 200px;
	display: inline-block;
	position: relative;
	
	margin-bottom: 10px;
	margin-right: 25px;

}
.card img{
	height: 260px;
	width: auto;
	border-radius: 5px;
}
.overlayx:hover{
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.overlay:before, .overlay:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}
.card p{
	font-size: 20px;
	margin-bottom:5px;
	margin-top:10px;
	padding: 0;
	font-weight: 700;
}
.card a{
	font-weight: 300;
}
.overlay{
	
	position: absolute;
	background-color: black;
	border-radius: 5px;
	top:0;
	left:0;
	
	height: 260px;
	width: 100%;
	opacity:0;

}
.overlay:hover{
	opacity : 0.4;
	box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
	transition: 0.3s all;
}
.top_artist{
	margin-top: 25px;
}
.top_artist .card{
	width: 230px;
	margin-bottom: 40px;


}

.top_artist .card img{

	border-radius: 2px;	
	display: inline-block;
	float: left;
	padding-right: 20px;
	width: 100px;
	height: 100px;
}

.top_artist .card a{
	display: block;
	padding-left: 15px;
	top:0;
	margin-top:20px; 
	font-weight: 700;
	font-size: 20px;
	padding-top: 0;
	padding-bottom: 0;
}

.top_artist .card .artist_genre{
		margin:0; 
		font-size: 15px;
		font-weight: 300;
		padding-top: 5px;

}
.top_artist .card .artist_genre:hover{
	transition: 0.2s all;
	text-decoration: underline;
}

/* Side Navigation : Still in progress ; */

.side_nav{
	width: 250px;
	float: left;
	margin: 0;
	padding: 0;
	height: 1000px;
	font-size: 25px;
	margin-left: 0;
	padding-left: 0;

}



.side_nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}


.side_nav li{
	padding: 5px;
	padding-left: 0;
	transition: 0.3s all;
	
	width:150px;
	font-weight: 300;

}

.side_nav li:hover{
	text-decoration: underline;

}

.side_nav a{
	text-decoration: none;
}

.main_nav{
	float:left;

}
a{
	color: white;
	text-decoration: none;
}
/*.showcase{
	/*padding-left: 10px;

}*/