/* Range Slider */
.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}
.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}
/* End Range Slider */


/* Custom Style Starts Here */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

i {
    cursor: pointer;
    padding: 0 7px;
}

#playerHolder {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 100, 124);
    display: flex;
    align-items: center;
}

#trackDetails {
    width: 20%;
    height: 100%;
    text-align: center;
    float: left;
    overflow: auto;
    display: flex;
    align-items: center;
}

#trackImage {
    height: 65%;
    padding-left: 5%;
}

#trackName {
    font-weight: bolder;
    font-size: 20px;
    clear: both;
}

#contentHolder {
    width: 80%;
    float: left;
}

#artistName {
    font-size: 15px;
    clear: both;
}

#controlsHolder {
    width: 50%;
    float: left;
    text-align: center;
}

#shuffleBtn {
    float: left;
    padding-left: 40px;
}

#repeatBtn {
    float: right;
    padding-right: 40px;
}

#seekSlider {
    width: 70%;
    float: left;
    margin-top: 7px;
}

.timer {
    width: 15%;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

#volumeHolder {
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

#volumeSlider {
    width: 100px;
}

/* Custom Style Ends Here */