html, body {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background: linear-gradient(rgb(255, 100, 124) , rgb(254, 161, 125));
    overflow: auto;
}

#navBar {
    width: 75%;
    position: fixed;
    top: 0;
    float: left;
}

#userHolder {
    position: fixed;
    top: 0;
    float: right;
    right: 0;
}

#openBtn {
    cursor: pointer;
}

.search_input {
    height: 90%;
    width: 90%;
    background: transparent
}

.search_input_holder {
    border-radius: 20px;
    height: 35px;
    background: rgb(254, 175, 145);
}

.user_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.overlay{
	position: absolute;
	background-color: black;
	border-radius: 5px;
	top:0;
	left:0;	
	height: 260px;
	width: 100%;
	opacity:0;
}

.overlay:hover {
	opacity : 0.4;
	box-shadow: -60px 0px 100px -90px #000000, 60px 0px 100px -90px #000000;
	transition: 0.3s all;
}

.overlay:before, .overlay:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}

.card {
	width: 200px;
	display: inline-block;
	position: relative;	
	margin-bottom: 10px;
	margin-right: 25px;
}

.card img {
	height: 260px;
	width: auto;
	border-radius: 5px;
}

.card p {
	font-size: 20px;
	margin-bottom:5px;
	margin-top:10px;
	padding: 0;
	font-weight: 700;
}

.card a {
	font-weight: 300;
}

.slick-slide {
	width: 260px !important;
}

.top_artist {
	margin-top: 25px;
}

.top_artist .card {
	width: 230px;
	margin-bottom: 40px;
}

.top_artist .card img {
	border-radius: 2px;	
	display: inline-block;
	padding-right: 20px;
	height: 100px;
}

.top_artist .card a {
	display: block;
	padding-left: 15px;
	top:0;
	margin-top:20px; 
	font-weight: 700;
	font-size: 20px;
	padding-top: 0;
	padding-bottom: 0;
}

.top_artist .card .artist_genre {
		margin:0; 
		font-size: 15px;
		font-weight: 300;
		padding-top: 5px;

}
.top_artist .card .artist_genre:hover {
	transition: 0.2s all;
	text-decoration: underline;
}